/*
override LTE font
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* H1 - H6 font */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Open Sans', sans-serif;
}

label.control-label.required:after {
    content: "*";
    color: red;
}

.tab-content > .tab-pane {
    margin-top: 10px;
}

img.flag {
    width: 20px;
}

.reset-password-box, .login-box {
    margin: 7% auto 1% auto;
}

.modal {
    text-align: center;
    padding: 0 !important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

#module-header {
    margin-bottom: 15px;
}

.modal-media .modal-dialog {
    width: 77%;
    height: 77%;
    margin: 0;
    padding: 0;
}

.modal-media .modal-content {
    height: auto;
    min-height: 77%;
    border-radius: 0;
}

label[class*='lang-'] {
    padding-left: 23px;
}

.nav-tabs-languages .tab-content {
    background: #ecf0f5;
}

.nav-tabs-languages ul.nav-tabs > li.active > a, .nav-tabs-languages ul.nav-tabs > li:hover > a {
    background-color: #ecf0f5;
}

.nav-tabs-languages > .nav-tabs > li.active > a, .nav-tabs-custom > .nav-tabs > li.active:hover > a {
    background-color: #dde1e6;
}

.cke {
    visibility: inherit !important;
}

p.help-block {
    padding-left: 10px;
    font-size: 12px;
}

.modal-media .media-items-container > .media-item {
    float: left;
    margin: 10px;
    border: 1px solid #E7E7E7;
    background: white;
}

.modal-media .media-items-container > .media-item > .img {
    float: left;
    margin: 2px;
}

.modal-media .media-items-container > .media-item > .bottom-controls {
    float: left;
    clear: both;
}

.jconfirm .jconfirm-box div.content-pane .content {
    min-height: auto;
}

#box-filter form .form-group label {
    display: block;
    float: left;
    clear: both;
    width: 100%;
}

/*
datatables
*/
tr.dt-rowReorder-moving {
    background: #F7F7F7;
    outline: 2px solid #555;
    outline-offset: -2px;
}

#dataTableBuilder_length {
    padding: 10px 0 0 10px;
}

#dataTableBuilder_info {
    padding: 0 0 0 10px;
}

#dataTableBuilder_paginate {
    padding: 0 10px 0 0;
}