/*
front end css
*/
figure.media-box {
    padding: 8px;
    margin: 10px;
    background: #eee;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px #fff inset, 0 -1px 0px #ccc inset;
}

figure.media-box.align-right {
    float: right;
}

figure.media-box.align-left {
    float: left;
}

figure.media-box.align-center {
    margin-left: auto;
    margin-right: auto;
}